.App {
  max-width: 1300px;
  margin: 0 auto;
}
.productlist-items {
  max-width: 300px;
  border: 1px solid;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  min-height: 318px;
}

.productlist-items h1 {
 font-size: 20px;
}

.prodcuts-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.pagination {
  display: flex;
  margin: 30px 0 60px;
  justify-content: center;
}

.pagination-numbers {
  padding: 20px;
  border: 1px solid;
  font-size: 20px;
  cursor: pointer;
}

.pagination-numbers.active {
  color: red;
  font-weight: bold;
  background-color: lightgray;
}

