.App {
  max-width: 1300px;
  margin: 0 auto;
}
.productlist-items {
  max-width: 300px;
  border: 1px solid;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
}

.prodcuts-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
