html,
body {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.progress-bar-main {
  border: 1px solid;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  overflow: hidden;
}

.inner {
  background-color: green;
  color: aliceblue;
  width: 50%;
  padding: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}
